<header>
  <mat-toolbar color="primary">Angular Bootstrap Example</mat-toolbar>
</header>

<div class="container"> <!-- container centers content on large screens -->
  <div class="row"> <!-- responsive row has 12 columns by default -->
    <!-- uses 6 columns on medium and larger screens -->
    <!-- uses 12 columns on smaller than medium screens -->
    <!-- <div class="col-md-6">
    </div> -->
    <mat-card class="col-md-6">1</mat-card>  <!-- we use mat-card instead of div -->
    <mat-card class="col-md-6">2</mat-card>
    <mat-card class="col-md-6 d-block d-lg-none">3</mat-card> <!-- will be hidden on large screens -->
    <mat-card class="col-md-6 d-block d-lg-none">4</mat-card>
  </div>
</div>

<footer></footer>
